{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-card animate__animated animate__fadeInUp">
        <h2>Crear Cuenta</h2>
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Nombre de Usuario</label>
                <input type="text" name="username" class="form-control" placeholder="Ej: admin_pasantia" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control" placeholder="••••••••" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Registrar Usuario</button>
        </form>
        <div class="auth-footer-text">
            ¿Ya tienes cuenta? <a href="{{ url_for('login') }}">Inicia sesión</a>
        </div>
    </div>
</div>
{% endblock %}